<!DOCTYPE HTML>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Voting Vortex</title>
	<link rel="stylesheet" href="stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="menu">
			<h2 class="banner">Voting Vortex</h2> 
			<% if (user) { %>
				<h4>Welcome <%= user.displayName %></h4>
				<div class="menu-buttons">
					<a href="/"><button class="button">Home</button></a>
					<button id="new-poll-button" class="button">Add a poll</button>
					<a href="/logout"><button class="button">Logout</button></a>
				</div>
			<% } else { %>
				<div class="menu-buttons">
					<a href="/login/facebook"><button class="sign-in">Facebook Sign in</button></a>
				</div>
			<% } %>

		</div>
		
		<div class="poll-list">
			<% if (polls.length != 0) { %>
				<div class="information">
					<h4>Here is a list of the polls you created.</h4>
				</div>
				<% for (var poll in polls) { %>
					<% var link = "/polls/" + polls[poll]._id %>
					<li class="mypoll-item" id=<%= polls[poll].name %>><a href=<%= link %>><%= polls[poll].name %> <span>(<%= votes[poll] %> voted!)</span></a><button class="delete-button" id=<%= polls[poll].name %>>Delete poll</button></li>
				<% } %>
			<% } else { %>
				<h4>You haven't created any polls yet. Click add a poll to add a new one.</h4>
			<% } %>
		</div>

		<div class="layer"></div>
		<div class="new-poll">
			<p class="new-poll-header"> Add a new poll</p>
			<form id="new-poll-form" method="post" action="/">
				<p>Enter the poll's name:</p>
				<input class="input-field" id="new-poll-name" placeholder="Enter the poll's name" type="text" name="name">
				<p>Below you can add voting options:</p>
				<div class="new-poll-options">
					<input class="input-field" placeholder="Option" type="text" name="option">
					<input class="input-field" placeholder="Option" type="text" name="option">
				</div>
				<button id="new-poll-submit" type="submit">Add Poll</button>
				<button id="add-option" class="option-button">Add option</button>
				<button id="remove-option" class="option-button">Remove option</button>
				<button id="new-form-cancel">Cancel</button>
			</form>
		</div>

		<hr/>
		<div class="footer">
			<div class="author">
				<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
				<p>Visit my pages:</p>
				<ul class="pages">
					<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
					<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
					<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
					<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$("#new-poll-button").click(function() {
				$(".layer, .new-poll").fadeToggle();
			})
			$("#add-option").click(function(e) {
				e.preventDefault();
				$(".new-poll-options").append('<input class="input-field" placeholder="Option" type="text" name="option">');
			});
			$("#new-form-cancel").click(function(e) {
				e.preventDefault();
				document.getElementById("new-poll-form").reset();
				$(".layer, .new-poll").fadeToggle();
			});
			$("#remove-option").click(function(e) {
				e.preventDefault();
				console.log($(".new-poll-options:last-child").val())
				$(".new-poll-options").children().last().remove();
			});
			$("#new-poll-form").on("submit", function(e) {
				e.preventDefault();
				var allFilled = true;
				var numberOfOptions = 0;
				$(".input-field").each(function(i) {
					numberOfOptions++;
					if ($(this).val() == "" || $(this).val() == " ") {
						allFilled = false;
					}
				});

				if (!allFilled) {
					alert("Please make sure all field are filled.");
				} else if (numberOfOptions < 3) {
					alert("Please enter two options at least... It's not a poll with less than two options :)");
				} else {
					e.target.submit();
				}
			});
			$(".delete-button").click(function() {
				if (confirm("Are you sure you want to delete the poll '" + $(this).attr("id") + "'")) {
					$.ajax({
						type: "DELETE",
						url: "/delete/" + $(this).attr("id")
					}).done(function() {
						location.reload();
					});
				}
			})
		})
	</script>
</body>
</html>