<!DOCTYPE HTML>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Voting Vortex</title>
	<!-- The '/' is necessary before the path in href, without it the file won't be found. -->
	<link rel="stylesheet" href="/stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
	
</head>
<body>
	<div class="container">
		<div class="menu">
			<h2 class="banner">Voting Vortex</h2>
			<div>
				<a href="/"><button class="button">Home</button></a>
				<% if (user) { %>
					<button id="new-poll-button" class="button">Add a poll</button>
					<a href="/mypolls"><button id="my-polls" class="button">My polls</button></a>
					<a href="/logout"><button class="button">Logout</button></a>
				<% } else { %>
					<a href="/login/facebook"><button class="button">Sign in</button></a>
				<% } %>
			</div>
		</div>
		
		<h3><%=name%></h3>
		<h4>Number of votes: <%=votes%></h4>
		<p>If you haven't done so yet, please cast your vote!</p>
		<div id="chart">
			
			<div class="vote-form-div">
				<form class="vote-form" method="post">
					<% for (var item in list) { %>
						<!-- stringify is important, without it, anything after space is ignored. 
						It is necessary for all inputs to be set to the same name, this will allow the user to select only one option. The value is needed at the server end coz it defines the selected input. -->
						<input type="radio" name="option" value=<%- JSON.stringify(item) %>><%= item %><br/>
					<%	}; %>

					<input class="vote-button" type="submit" value="Send to the vortex">
				</form>
				
				<% if (user) { %>
					<p>If you are hard to please and don't like any option, enter your own below and click "Add option".</p>
					<form id="add-option-form" class="option-form">
						<input id="new-option" placeholder="Type option" type="text">
						<button type="submit" id="add-option-button">Add option</button>
					</form>
				<% } %>
			</div>
			<div id="wrapper">
				<canvas id="myChart" width="1" height="1"></canvas>
			</div>
		</div>
		
		<div class="layer"></div>
		<div class="new-poll">
			<p class="new-poll-header"> Add a new poll</p>
			<form id="new-poll-form" method="post" action="/">
				<p>Enter the poll's name:</p>
				<input class="input-field" id="new-poll-name" placeholder="Enter the poll's name" type="text" name="name">
				<p>Below you can add voting options:</p>
				<div class="new-poll-options">
					<input class="input-field" placeholder="Option" type="text" name="option">
					<input class="input-field" placeholder="Option" type="text" name="option">
				</div>
				<button type="submit">Add Poll</button>
				<button id="add-option">Add option</button>
				<button id="new-form-cancel">Cancel</button>
			</form>
		</div>

		<% if (user && user.displayName == creator) { %>
			<button class="delete-button-inPollPage">Delete</button>
		<% } %>

		<hr/>
		<div class="footer">
			<div class="author">
				<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
				<p>Visit my pages:</p>
				<ul class="pages">
					<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
					<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
					<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
					<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		var name = <%- JSON.stringify(name) %>;
		var list = <%- JSON.stringify(list) %>;
		var poll = <%- JSON.stringify(poll) %>;
		var votes = <%- JSON.stringify(votes) %>;
		var ipaddress = <%- JSON.stringify(ipaddress) %>;
		var voters = <%- JSON.stringify(voters) %>;
		
		var colors = ["#8dd3c7", "#ffffb3", "#bebada", "#fb8072", "#80b1d3", "#fdb462", "#b3de69", "#fccde5", "#d9d9d9", "#bc80bd", "#ccebc5", "#ffed6f"];
		var data = {};
		data.labels = [];
		data.datasets = [{}];
		data.datasets[0].data = [];
		data.datasets[0].backgroundColor = [];
		var colorCounter = 0;
		for (var entry in list) {
			data.labels.push(entry);
			data.datasets[0].data.push(list[entry]);
			data.datasets[0].backgroundColor.push(colors[colorCounter]);
			if ((colorCounter+1) < colors.length) {
				colorCounter++;
			} else {
				colorCounter = 0;
			}
		}

		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
		    type: 'doughnut',
		    data: data
		});
		$("#add-option-form").on("submit", function(e) {
			e.preventDefault();
			if ($("#new-option").val() == "" || $("#new-option").val() == " ") {
				alert("Please enter a valid option.");
			} else {
				$(".vote-form").prepend("<input type='radio' name='option' value='" + $("#new-option").val() + "'>"+$("#new-option").val()+"<br/>")
			}
		});
		$(".vote-form").on("submit", function(e) {
			e.preventDefault();
			/* from: http://stackoverflow.com/questions/1423777/how-can-i-check-whether-a-radio-button-is-selected-with-javascript */
			var votedBefore = false;
			for (var voter in voters) {
				if (ipaddress == voters[voter]) {
					votedBefore = true;
				}
			}
			if (votedBefore) {
				alert("Sorry voter, you have already voted. Cannot vote again that would be unfair :)");
			} else if ($('input[name=option]:checked').length > 0) {
				e.target.submit();
			} else {
				alert("Please select an option to vote for.");
			}
		});
		$("#new-poll-button").click(function() {
			$(".layer, .new-poll").fadeToggle();
		})
		$("#add-option").click(function(e) {
			e.preventDefault();
			$(".new-poll-options").append('<input class="input-field" placeholder="Option" type="text" name="option">');
		});
		$("#new-form-cancel").click(function(e) {
			e.preventDefault();
			document.getElementById("new-poll-form").reset();
			$(".layer, .new-poll").fadeToggle();
		});
		$("#new-poll-form").on("submit", function(e) {
			e.preventDefault();
			var allFilled = true;
			$(".input-field").each(function(i) {
				if ($(this).val() == "" || $(this).val() == " ") {
					allFilled = false;
				}
			});
			if (allFilled) {
				e.target.submit();
			} else {
				alert("Please make sure all field are filled.");
			}
		});
		$(".delete-button-inPollPage").click(function() {
			if (confirm("Are you sure you want to delete the poll '" + name + "'")) {
				$.ajax({
					type: "DELETE",
					url: "/delete/" + name
				}).done(function() {
					//The following is better than using window.location.href ="/", because replace() does not keep the originating page in the session history, meaning the user won't get stuck in a never-ending back-button fiasco. 
					window.location.replace("/");
				});
			}
		})
	</script>
</body>
</html>