<!DOCTYPE HTML>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Voting Vortex</title>
	<!-- The '/' is necessary before the path in href, without it the file won't be found. -->
	<link rel="stylesheet" href="/stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
	
</head>
<body>
	<div class="container">
		<div class="menu">
			<h2 class="banner">Voting Vortex</h2>
			<div>
				<a href="/"><button class="button">Home</button></a>
				<button class="button">Sign in</button>
			</div>
		</div>
		
		<h3><%=name%></h3>
		<h4>Number of votes: <%=votes%></h4>
		<div id="chart">
		
			<form class="vote-form" method="post">
				<p>If you haven't done so yet, please cast your vote!</p>
				<% for (var item in list) { %>
					<!-- stringify is important, without it, anything after space is ignored. 
					It is necessary for all inputs to be set to the same name, this will allow the user to select only one option. The value is needed at the server end coz it defines the selected input. -->
					<input type="radio" name="option" value=<%- JSON.stringify(item) %>><%= item %><br/>
				<%	}; %>
				<input class="vote-button" type="submit" value="Send to the vortex">
			</form>

			<div id="wrapper">
				<canvas id="myChart" width="1" height="1"></canvas>
			</div>
		</div>
		
		<hr/>
		<div class="footer">
			<div class="author">
				<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
				<p>Visit my pages:</p>
				<ul class="pages">
					<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
					<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
					<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
					<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		var name = <%- JSON.stringify(name) %>;
		var list = <%- JSON.stringify(list) %>;
		var poll = <%- JSON.stringify(poll) %>;
		var votes = <%- JSON.stringify(votes) %>;
		var colors = ["#8dd3c7", "#ffffb3", "#bebada", "#fb8072", "#80b1d3", "#fdb462", "#b3de69", "#fccde5", "#d9d9d9", "#bc80bd", "#ccebc5", "#ffed6f"];
		var data = {};
		data.labels = [];
		data.datasets = [{}];
		data.datasets[0].data = [];
		data.datasets[0].backgroundColor = [];
		var colorCounter = 0;
		for (var entry in list) {
			data.labels.push(entry);
			data.datasets[0].data.push(list[entry]);
			data.datasets[0].backgroundColor.push(colors[colorCounter]);
			if ((colorCounter+1) < colors.length) {
				colorCounter++;
			} else {
				colorCounter = 0;
			}
		}

		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
		    type: 'doughnut',
		    data: data
		});

	</script>
</body>
</html>